<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="de.neofonie.cordova.plugin.nativeaudio"
        version="3.0.2">

    <name>Cordova Native Audio</name>
    <description>Cordova / PhoneGap 3.5+ extension for Native Audio playback, aimed at HTML5 gaming and audio applications which require minimum latency, polyphony and concurrency.
        Community-driven fork of the Low Latency Audio Plugin with rich API feedback and Ionic Framework integration.</description>
    <license>MIT</license>
    <keywords>audio,music,games</keywords>
    <repo>https://github.com/sidneys/cordova-plugin-nativeaudio.git</repo>
    <issue>https://github.com/sidneys/cordova-plugin-nativeaudio/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.5"/>
    </engines>

    <js-module src="www/nativeaudio.js" name="nativeaudio">
        <clobbers target="window.plugins.NativeAudio"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NativeAudio">
                <param name="android-package" value="de.neofonie.cordova.plugin.nativeaudio.NativeAudio"/>
            </feature>
        </config-file>

        <source-file src="src/android/NativeAudio.java" target-dir="src/de/neofonie/cordova/plugin/nativeaudio"/>
        <source-file src="src/android/NativeAudioAsset.java" target-dir="src/de/neofonie/cordova/plugin/nativeaudio"/>
        <source-file src="src/android/NativeAudioAssetComplex.java" target-dir="src/de/neofonie/cordova/plugin/nativeaudio"/>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
        </config-file>

    </platform>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="NativeAudio">
                <param name="ios-package" value="NativeAudio"/>
            </feature>
        </config-file>

        <framework src="Foundation.framework"/>
        <framework src="AVFoundation.framework"/>
        <framework src="AudioToolbox.framework"/>

        <header-file src="src/ios/NativeAudio.h"/>
        <source-file src="src/ios/NativeAudio.m"/>

        <header-file src="src/ios/NativeAudioAsset.h"/>
        <source-file src="src/ios/NativeAudioAsset.m"/>

    </platform>

</plugin>
